<!DOCTYPE html>

<html>
<title>This website is using ruby</title>
<body>
<h1> Im using Ruby !! </h1>

<p>

Something for nothing, Nothing for something :/ </p>

<p>Some cute kitten for ya</p>
<img src="http://placekitten.com/g/200/200" />

</body>
</html>